@import './normalize.css';
@import './fonts.css';

:root {
    --bk-xs: 0px;
    --bk-sm: 768px;
    --bk-md: 1366px;
    --bk-lg: 1920px;
}

html{scroll-behavior:smooth}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(/noise.png);
}

a {
    text-decoration: none;
}